
$primary: #83ec20; 
$success: #106100;

$font-family-sans-serif:   poppins,   system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


@import '../node_modules/bootstrap/scss/bootstrap';